<h2>Delivery Order</h2>

<app-delivery (sendForm)="processOrder($event)"></app-delivery>

<hr>

<table class="table">
  <thead>
    <tr>
      <td>Name</td>
      <td>Address</td>
      <td>DeliveryDate</td>
      <td>Priority</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let o of orderList">
      <td>{{o.name | titlecase}}</td>
      <td>{{o.address}}</td>
      <td>{{o.deliveryDate | date}}</td>
      <td>{{o.priority}}</td>
      <td>
        <button>X</button>
      </td>
    </tr>
  </tbody>
</table>

